- new_list = List.new user_id: current_user.id
= form_for new_list, html: { class: 'row' } do |f|
  .hide= submit_tag
  .small-9.medium-6.columns= f.text_field :title, placeholder: '...new list?', required: true
  .small-3.columns.end.no-padding
    %span.add-new-list.pantrify-button= icon 'plus', 'list'
