%h2 My Lists
- @lists.where(user_id: user_id).each_with_index do |list, index|
	=link_to list do
		.list-item{class: "#{even_or_odd(index)}"}
			=list.name
%br
=link_to 'New List', new_list_path if current_user