.full-width
  - if current_user
    - @lists.where(user_id: user_id).each_with_index do |list, index|
      = render 'list', list: list, list_items: list.list_items.order(:id)
    .row
      .columns
        .button.brown= link_to 'New List', new_list_path
  - else
    Login to create racks of what you have, and what you don't.
