- if current_user
  = render 'new_list_form'
  - current_user.lists.each do |list|
    = render 'list', list: list
- else
  .row
    .columns
      Login to create racks of what you have, and what you don't.
