=form_for(@item) do |f|
  -if @item.errors.any?
    #error_explanation
      %h2
        =pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
      %ul
        -@item.errors.full_messages.each do |msg|
          =msg
  .form
    =f.label :name
    =f.text_field :name
  .form
    =f.label :in_stock
    =f.check_box :in_stock
  .actions
    =f.submit