@font-face
  font-family: 'Shojumaru'
  src: url('/fonts/Shojumaru-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal

.clearfix
  clear: both

.button
  text-align: center
  background-color: #00af00

.brown
  background-color: rgba(194, 168, 125, 1)

  a
    color: white

.right 
  horizontal-align: right
