// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.even {
  background-color: #F0F9FF;
}
.odd {
  background-color: white;
}
 
.title {
  width: 100%;
  color: white;
  background-color: gray;
}

.description {
  width: 100%;
  color: black;
  background-color: white;
}

.button {
  padding: 1em;
  text-align: center;
  background-color: #00af00;
}
.out-of-stock-list {
  
  .even {
    background-color: #FFD3D3;
  }
  .odd {
    background-color: #FFC7C7;
  }
}
.in-stock-list {
  
  .even {
    background-color: #D3FFD3;
  }
  .odd {
    background-color: #BFFFBD;
  }
}
.list-item {
  padding: 1em 1em;
  &:hover {
    color: #555;
  }
}

.right {
  text-align: right;
}

.item{
  padding: .5em .5em;
}

.small-padding{
  padding: .1em, .1em;
}