.title
  width: 100%
  color: white
  background-color: gray

.stock
  border: solid 1px rgba(194, 168, 125, 1)
  margin-bottom: 1em

  .button
    height: 3em
    padding: 0
    margin-bottom: 0

  .row, .button
    line-height: 3em

  .in
    .button
      background: #FFD3D3

  .out
    .button
      background: #D3FFD3

  &:hover
    color: #555
