.list-items > *
  vertical-align: top

.item
  display: inline-block
  padding: 4px
  color: green
  form
    display: inline
    visibility: hidden
  .fa
    padding: 0 2px
  .fa-square-o
    margin-right: 2.4px
  [class^="icon-"]
    padding-right: 0.5em
  &.out
    color: red
  &:hover, &.selected
    color: inherit
    background: #FFDDAA
    form
      visibility: visible
