%footer.row
  .columns.text-right
    brought to you by
    = link_to '@helious', 'https://github.com/helious', target: '_blank'
    %br
    = link_to 'this guy', 'mailto:rangemonk@gmail.com'
    will answer all of your questions
.bump
