.header
  %h1
    =link_to 'Spice Rack', root_path
.header#login
  =link_to 'Log in / Register', new_user_session_path unless current_user
  =link_to 'Log out', destroy_user_session_path, :method => :delete if current_user