%header
  .row
    .columns
      =link_to root_path do
        %h1 pantrify.io
      .right
        - if current_user
          = link_to destroy_user_session_path, method: :delete, class: 'pantrify-button' do
            = icon 'sign-out'
            Sign Out
        - else
          = link_to new_user_session_path, class: 'pantrify-button' do
            = icon 'sign-in'
            Sign In