%a{ href: '//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fpantrify.io&media=http%3A%2F%2Fpantrify.io%2Fpantrify_og.png&description=get%20your%20kitchen%20organized!', data: { :'pin-do' => 'buttonPin', :'pin-config' => 'beside', :'pin-color' => 'white'} }
  %img{ src: '//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png' }
%script{ type: 'text/javascript', async: 'async', src: '//assets.pinterest.com/js/pinit.js' }
