%meta{ name: 'description', content: 'remembering what you have in your kitchen has never been easier. register today and start keeping track of your groceries today!'  }
%link{ rel: 'author', href: 'https://plus.google.com/113803498289957744150' }
%meta{ property: 'og:title', content: 'pantrify.io - a simple way to manage what\'s in your kitchen!' }
%meta{ property: 'og:type', content: 'website' }
%meta{ property: 'og:image', content: 'http://pantrify.io/pantrify_og.png' }
%meta{ property: 'og:url', content: 'http://pantrify.io' }
%meta{ property: 'og:description', content: 'have you ever come home from the grocery store with an extra bottle of vanilla extract because you forgot if you had some? never again! keep track of your kitchen with pantrify.io.' }
